
<div class="container" [hidden]="submitted">
    <h1>Hero Form</h1>
    <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #spy1>
    <!--        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>    
        -->     
        </div>    

        
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo" required [(ngModel)]="model.alterEgo" name="alterEgo" #spy2>
        </div>    

        <div class="form-group">
            <label for="power">Hero Power</label>
            <select class="form-control" id="power" required>
                <option *ngFor="let pow of powers" [value]="pow">
                    {{pow}}
                </option>
            </select>    
        </div>       
        <!--  (click)="newHero(); heroForm.reset()"  --> 
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Sumbit</button>
    </form>
</div>     
   


<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
         <div class="col-xs-3">Name</div>
          <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
     <div class="row">
          <div class="col-xs-3">Alter Ego</div>
          <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>

<!--
<h1> Diagnostic </h1>
<h4>{{diagnostic}}</h4>
<h4>Name: <br>
    TODO: remove this: {{model.name}} <br >
    TODO: remove this: {{spy1.className}}<br >
</h4>
<h4>Alter Ego <br>     
    TODO: remove this: {{model.alterEgo}}<br >
    TODO: remove this: {{spy2.className}}<br >
</h4>    
-->